@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    font-family: var(--font-roboto);
}

html {
  scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    background: transparent;
    color: var(--color-text);
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

ul, ol {
    list-style: none;
}

@media screen and (max-width: 830px) {
    html {
        scroll-padding-top: 60px;
    }
}


